<form class="" action="/figures" method="post">

  <h1><label>Create A New Figure!</label></h1>

  <br></br>
  <h2><label>Figure Name:</label></h2>
  <input type="text" name="figure[name]" value="">
  <br></br>

<label>Choose Titles For Your Figure:</label>
<br></br>
  <%Title.all.each do |title|%>
  <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id= "<%title.name%>">
  <%=title.name%></input>
  <%end%>

  <br></br>
  <input type="submit" name="sumbit" value="Create">



</form>
